.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1328px;
}

.u-section-1 .u-text-1 {
  margin: 81px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 711px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  min-height: 1022px;
  grid-gap: 22px 22px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 24px 13px;
}

.u-section-1 .u-image-1 {
  width: 130px;
  height: 130px;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  background-image: url("../images/aibek.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 35px 2px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 500;
  font-size: 1rem;
  margin: 14px auto 0;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-2 {
  padding: 14px 24px 13px;
}

.u-section-1 .u-image-2 {
  width: 130px;
  height: 130px;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  background-image: url("../images/priya.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 35px 2px 0;
}

.u-section-1 .u-text-6 {
  font-weight: 500;
  font-size: 1rem;
  margin: 14px auto 0;
}

.u-section-1 .u-list-item-3 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-3 {
  padding: 14px 24px 13px;
}

.u-section-1 .u-image-3 {
  width: 130px;
  height: 130px;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  background-image: url("../images/ricky.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 35px 2px 0;
}

.u-section-1 .u-text-8 {
  font-weight: 500;
  font-size: 1rem;
  margin: 14px auto 0;
}

.u-section-1 .u-list-item-4 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-4 {
  padding: 14px 24px 13px;
}

.u-section-1 .u-image-4 {
  width: 130px;
  height: 130px;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  background-image: url("../images/chris.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 35px 2px 0;
}

.u-section-1 .u-text-10 {
  font-weight: 500;
  font-size: 1rem;
  margin: 14px auto 0;
}

.u-section-1 .u-list-item-5 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-5 {
  padding: 14px 24px 13px;
}

.u-section-1 .u-image-5 {
  width: 130px;
  height: 130px;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  background-image: url("../images/ismail.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 35px 2px 0;
}

.u-section-1 .u-text-12 {
  font-weight: 500;
  font-size: 1rem;
  margin: 14px auto 0;
}

.u-section-1 .u-list-item-6 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-6 {
  padding: 14px 24px 13px;
}

.u-section-1 .u-image-6 {
  width: 130px;
  height: 130px;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  background-image: url("../images/olamide.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 35px 2px 0;
}

.u-section-1 .u-text-14 {
  font-weight: 500;
  font-size: 1rem;
  margin: 14px auto 0;
}

.u-section-1 .u-list-item-7 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-7 {
  padding: 14px 24px 13px;
}

.u-section-1 .u-image-7 {
  width: 130px;
  height: 130px;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  background-image: url("../images/tash.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-15 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 35px 2px 0;
}

.u-section-1 .u-text-16 {
  font-weight: 500;
  font-size: 1rem;
  margin: 14px auto 0;
}

.u-section-1 .u-list-item-8 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-8 {
  padding: 14px 24px 13px;
}

.u-section-1 .u-image-8 {
  width: 130px;
  height: 130px;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  background-image: url("../images/neutr.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-17 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 35px 2px 0;
}

.u-section-1 .u-text-18 {
  font-weight: 500;
  font-size: 1rem;
  margin: 14px auto 0;
}

.u-section-1 .u-list-item-9 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-9 {
  padding: 14px 24px 13px;
}

.u-section-1 .u-image-9 {
  width: 130px;
  height: 130px;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  background-image: url("../images/tend.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-19 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 35px 2px 0;
}

.u-section-1 .u-text-20 {
  font-weight: 500;
  font-size: 1rem;
  margin: 14px auto 0;
}

.u-section-1 .u-list-item-10 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-10 {
  padding: 14px 24px 13px;
}

.u-section-1 .u-image-10 {
  width: 130px;
  height: 130px;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  background-image: url("../images/ted.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-21 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 35px 2px 0;
}

.u-section-1 .u-text-22 {
  font-weight: 500;
  font-size: 1rem;
  margin: 14px auto 0;
}

.u-section-1 .u-list-item-11 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-11 {
  padding: 14px 24px 13px;
}

.u-section-1 .u-image-11 {
  width: 130px;
  height: 130px;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  background-image: url("../images/guelane.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-23 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 35px 2px 0;
}

.u-section-1 .u-text-24 {
  font-weight: 500;
  font-size: 1rem;
  margin: 14px auto 0;
}

.u-section-1 .u-list-item-12 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-12 {
  padding: 14px 24px 13px;
}

.u-section-1 .u-image-12 {
  width: 130px;
  height: 130px;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  background-image: url("../images/cassio.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-25 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 35px 2px 0;
}

.u-section-1 .u-text-26 {
  font-weight: 500;
  font-size: 1rem;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1055px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 16.5px));
    min-height: 840px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-20 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-22 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-24 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-26 {
    font-size: 1.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 2653px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-text-14 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-text-16 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-19 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-text-20 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-21 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-text-22 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-23 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-text-24 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-25 {
    font-size: 1.625rem;
  }

  .u-section-1 .u-text-26 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.75rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.75rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.75rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.75rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.75rem;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.75rem;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.75rem;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.75rem;
  }

  .u-section-1 .u-text-19 {
    font-size: 1.75rem;
  }

  .u-section-1 .u-text-21 {
    font-size: 1.75rem;
  }

  .u-section-1 .u-text-23 {
    font-size: 1.75rem;
  }

  .u-section-1 .u-text-25 {
    font-size: 1.75rem;
  }
}