<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <p>Current number of users: {{ user_count }}</p><br>

    <h3> Add Investor Manually: </h3>
    <form action="{{ url_for('admin_add_user') }}" method="post">
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="name" placeholder="Full Name" required>
        <button type="submit">Add User</button>
    </form><br>

    <form action="{{ url_for('admin_download') }}" method="get">
        <button type="submit">1. Download Top Scores</button>
    </form><br>
    <form action="{{ url_for('admin_process') }}" method="get">
        <button type="submit">2. Generate Seating Arrangement</button>
    </form><br>

    <form action="{{ url_for('admin_parse') }}" method="get">
        <button type="submit">3. Process Plan</button>
    </form>
    <h2>(Optional) Edit Seating Arrangement</h2>
    <form action="{{ url_for('admin_edit_file') }}" method="post">
        <textarea name="file_content" rows="10" cols="20">{{ file_content }}</textarea><br>
        <button type="submit">Save Changes</button><br><br>
    </form>

 

    <form action="{{ url_for('add_plan_to_db') }}" method="get">
        <button type="submit">4. Add Plan to DB</button>
    </form>

    <br>


</body>
</html>
